<ng-container *transloco="let t; read:'reset-password'">
  <app-splash-container>
    <ng-container title><h2>{{t('title')}}</h2></ng-container>
    <ng-container body>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <div class="mb-3" style="width:100%">
          <label for="email" class="form-label">Email</label>
          <input class="form-control" type="email" inputmode="email" id="email" formControlName="email" [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <div id="inviteForm-validations" class="invalid-feedback" *ngIf="registerForm.dirty || registerForm.touched">
            <div *ngIf="registerForm.get('email')?.errors?.required">
              {{t('required-field')}}
            </div>
            <div *ngIf="registerForm.get('email')?.errors?.email">
              {{t('valid-email')}}
            </div>
          </div>
        </div>
        <div>
          <a href="/login" class="text-primary">↼ Back To Login</a>
          <button class="btn btn-primary alt mt-3" type="submit">{{t('submit')}}</button>
        </div>
      </form>
    </ng-container>
    <ng-container footer>
      <p>{{t('description')}}</p>
    </ng-container>
  </app-splash-container>

</ng-container>
