.btn {
    width: 100%
}

.custom-input {
    background-color: var(--background-tertiary) !important;
    //color: black !important;
}

.invalid-feedback {
    display: inline-block;
    color: #343c59;
}

.form-label {
    margin-bottom: 0 !important;
}