<ng-container *transloco="let t; read: 'series-info-cards'">
  <div class="row g-0 mt-3">
    <ng-container *ngIf="accountService.hasValidLicense$ | async">
      <div class="col-lg-1 col-md-4 col-sm-4 col-4 mb-2">
        <app-icon-and-title [label]="t('scrobbling-title')" [clickable]="libraryAllowsScrobbling"
                            fontClasses="fa-solid fa-tower-{{(isScrobbling && libraryAllowsScrobbling) ? 'broadcast' : 'observation'}}"
                            (click)="toggleScrobbling($event)"
                            [ngbTooltip]="t('scrobbling-tooltip')">
          <ng-container *ngIf="libraryAllowsScrobbling; else noScrobble">
            {{ isScrobbling ? t('on') : t('off') }}
          </ng-container>
          <ng-template #noScrobble>
            {{t('disabled')}}
          </ng-template>

        </app-icon-and-title>
      </div>
      <div class="vr d-none d-lg-block m-2"></div>
    </ng-container>
  </div>

</ng-container>
