<div class="mt-3 mb-3" *ngIf="tags && tags.length > 0">
    <h5>{{heading}}</h5>
    <app-badge-expander [items]="tags" [itemsTillExpander]="utilityService.getActiveBreakpoint() >= Breakpoint.Desktop ? 30 : 4">
      <ng-template #badgeExpanderItem let-item let-position="idx">
        <ng-container *ngIf="itemTemplate; else useTitle">
          <span (click)="goTo(queryParam, item.id)">
            <ng-container [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: item, idx: position }"></ng-container>
          </span>
        </ng-container>
        <ng-template #useTitle>
          <app-tag-badge a11y-click="13,32" class="col-auto" (click)="goTo(queryParam, item.id)" [selectionMode]="TagBadgeCursor.Clickable" style="">
            <ng-container [ngTemplateOutlet]="titleTemplate" [ngTemplateOutletContext]="{ $implicit: item, idx: position }"></ng-container>
          </app-tag-badge>
        </ng-template>
      </ng-template>
    </app-badge-expander>
</div>
