.login {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    height: 100vh;
    //min-height: 289px;
    //position: relative;
    //width: 100vw;
    //max-width: 100vw;
    background: 8rem no-repeat url('https://64.media.tumblr.com/f9aad75f592b0d3cf912c1b6de294c6c/37b95bb9c72f7615-6a/s1280x1920/4a3a9a21c92a7724963c80274fb21585395d3535.png'), #111111 !important;
    background-position: bottom left calc(50% - -25vw) !important;
    background-size: min(720px, 40%);

/*
    &::before {
        background-image: url('../../../../assets/images/login-bg.jpg');
        background-size: cover;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        width: 100%;
    }
*/  

    .logo-container {
        .logo {
            display:inline-block;
            height: 50px;
        }
    }

    .card {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 30%) !important;
        background-color: #212328;
        color: #fff;
        .content { padding: 20px 40px 30px 40px; }
        //width: clamp(100%/(N + 1) + 0.1%, (400px - 100vw)*1000, 100%);
        max-width: 500px;

        &:focus {
            border: 2px solid white;

        }


        .card-title {
            font-family: 'League Spartan', sans-serif;
            font-weight: 600;
        }

        .card-text {
            font-family: "EBGaramond", "Helvetica Neue", sans-serif;
        }

        .card-footer {
            background-color: #2e2f37;
            background-clip: border-box;
            padding: 12px 35px;
            font-size: 16px;
            font-family: 'League Spartan', sans-serif;
        }
    }
}

.wordmark {
    font-size: 2rem;
    font-weight: 600;
}